services:
  backend:
    build: ./server
    container_name: backend_container
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env

  frontend:
    build: 
      context: ./client
      args:
        - VITE_API_URL=http://43.205.145.206:5000/api
    container_name: frontend_container
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env
    depends_on:
      - backend
